:root {
  --color-text-primery: #2c4058;
  --color-accent-white: #ffffff;
  --color-accent-black: #000000;
  --color-accent-blue: #55b7ff;
}

$main-font-family: "Open Sans", sans-serif;
$title-font-family: "Montserrat", sans-serif;
$main-font-size: 18px;
$main-font-weight: 400;
$title-font-size: 44px;
$title-font-weight: 700;
