.container {
  width: 100%;
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 16px;
}
.section-title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
}
/*Hero-section*/

.hero-section {
  position: relative;
  background-image:
    linear-gradient(
      243deg,
      rgba(126, 90, 255, 0.8) 16.9%,
      rgba(85, 183, 255, 0.9) 83.27%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  &__title {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.hero__pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pagination__item {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &.active {
    background-color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

/*Projects-section*/

.projects {
  padding: 100px 0 150px;
  background-color: #ffffff;

  &__title {
    margin-bottom: 147px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background-color: #2c4058;
      margin: 0 auto 30px;
    }
  }
}

.project {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 177px;

  &:last-child {
    margin-bottom: 0;
  }

  &__reverse {
    flex-direction: row-reverse;
  }

  &__img {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      z-index: 2;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    &--blue {
      background-color: #55b7ff;
      top: -57px;
      left: -135px;
    }

    &--purple {
      background-color: #7e5aff;
      top: -57px;
      right: -135px;
    }
  }

  &__content {
    flex: 1;
    padding: 20px;
  }

  &__subtitle {
    font-weight: 400;
    display: block;
    font-size: 22px;
    color: #2c4058;
    text-transform: uppercase;
    letter-spacing: 0%;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #2c4058;
    margin-bottom: 40px;
  }

  &__location {
    margin-top: 60px;
    font-size: 15px;
    font-style: italic;
    color: #000000;
    display: flex;
    align-items: center;

    &::before {
      content: "📍";
      margin-right: 10px;
    }
  }
}
/*News section*/
.news {
  background-image:
    linear-gradient(
      237.1deg,
      rgba(36, 204, 250, 0.7) 11.16%,
      rgba(60, 127, 212, 0.7) 89.18%
    ),
    url("../images/news-bg.png"),
    linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  background-repeat: no-repeat;
  background-position: bottom;
}

.news {
  padding: 120px 0;

  &__title {
    color: #fff;

    margin-bottom: 90px;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background-color: #fff;
      margin: 0 auto 30px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0 -15px;
  }
  &__item {
    padding: 0 15px;
    height: auto;
    display: flex !important;
    outline: none;
  }
  &__card {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__img img {
    width: 100%;
    display: block;
  }

  &__content {
    padding: 35px;
    color: #2c4058;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__card-title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    color: #2c4058;
    margin-bottom: 25px;
    line-height: 100%;
  }

  &__author {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__author-name {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__date {
    font-size: 14px;
    color: #55b7ff;
  }
}
.slick-prev,
.slick-next {
  &::before {
    display: none !important;
  }

  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background: transparent;

  &.slick-prev {
    left: -60px;
  }
  &.slick-next {
    right: -60px;
  }

  svg {
    fill: #fff;
  }
}
.slick-arrow {
  display: flex !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px;
  border: 1px solid #ffffff !important;
  border-radius: 50% !important;
  cursor: pointer;
}

/*Gallery secion*/
.gallery {
  padding: 150px 0;
  &__title {
    margin-bottom: 90px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background-color: #2c4058;
      margin: 0 auto 30px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__item.large {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
.gallery__btn {
  display: block;
  margin: 60px auto 0;
}
/*Form section*/
.map-area {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #eee;
  z-index: 1;

  #map {
    height: 100%;
    width: 100%;
  }
}
.contact {
  position: relative;
  &__card {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
    bottom: 0;
    background: #ffffff;
    width: 100%;
    max-width: 770px;
    height: 450px; ///!!!
    z-index: 10;
    padding: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  }
  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 54px;
  }
  &__info {
    flex: 1;
  }
  p {
    margin-bottom: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
  }
}
.contact__title {
  margin-bottom: 42px;

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    margin: 0 auto 30px;
  }
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 310px;

  &__btn {
    align-self: flex-end;
    padding: 12px 34px;
    background: transparent;
    border: 1px solid #000000;
    transition: all 0.3s;

    &:hover {
      background: #333;
      color: #ffffff;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid #4b5562;
    padding: 10px 0;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-bottom-color: #7e5aff;
    }
  }
}
/*Footer*/
.footer {
  padding: 203px 0 150px;
  background: linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);
  &__container {
    max-width: 770px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
